.navbar .form-inline {
	margin-top: 10px;
}
h6{
	color:#FFFAFA;
}
h2{
	color: blue;
}
#logout
{

	position: relative;
	right:-600px;
}

#map {
	position: relative;
	margin-top:6px; height: 90vh;
	margin-left:0px;

	}
	.invisible {
		visibility: hidden;
	}
	.visible {
		visibility: visible;
	}


	#featureInfo iframe {
		border: 0;
	   min-height: 200px;
	  
	   
	}

	.featureInfo {
	margin: 0 auto;
		font-size: 1.2em;
		margin-bottom: 15px;
		margin-top:6px; 
		width:40px;
		
       
	}
	.featureInfo1 {
		margin: 0 auto;
			font-size: 1.2em;
			margin-bottom: 15px;
			margin-top:6px; 
			width:40px;
			
		   
		}
	.card-body
	{
		width: 40px;
		font-size:12px;
		overflow: scroll;
  overflow-x: scroll;
     
		
	}
	
	.dtHorizontalExampleWrapper {
		max-width: 600px;
		margin: 0 auto;
	}
	#dtHorizontalExample th, td {
		white-space: nowrap;
	}

	.featureInfo thead {
		cursor: pointer;
		background: #c9dff0;
	}
	.featureInfo thead tr th { 
		font-weight: bold;
		padding: 12px 30px;
		padding-left: 42px;
	}
	.featureInfo thead tr th span { 
		padding-right: 20px;
		background-repeat: no-repeat;
		background-position: 100% 100%;
	}
	
	.featureInfo thead tr th.headerSortUp, .featureInfo thead tr th.headerSortDown {
		background: #acc8dd;
	}
	
	.featureInfo thead tr th.headerSortUp span {
		background-image: url('https://i.imgur.com/SP99ZPJ.png');
	}
	.featureInfo thead tr th.headerSortDown span {
		background-image: url('https://i.imgur.com/RkA9MBo.png');
	}
	
	label.dropdownLabel

		{color:#FFFAFA; }

	.featureInfo tbody tr { 
		color: #555;
	}
	.featureInfo tbody tr td {
		text-align: center;
		padding: 15px 10px;
	}
	.featureInfo tbody tr td.lalign {
		text-align: left;
	}
	/* https://gist.github.com/toddparker/32fc9647ecc56ef2b38a */

/* Some basic page styles */
body {
	font: 100%/1.5 AvenirNext-Regular, Corbel, "Lucida Grande", "Trebuchet Ms", sans-serif;
	color: #3b3b3b; 
	background-color: #3b3b3b;
	margin:1%
  }
  .h2
  { 
	font-family: 'Oswald', sans-serif !important;
   } 
  
	.navbar-light bg-light {
    color:#3b3b3b;
}
  /* Label styles: style as needed */
  label {
	display:block;
	margin: 2em 1em .25em .75em;
	font-size: 1.25em;
	color:#333;
  }
  
  /* Container used for styling the custom select, the buttom class adds the bg gradient, corners, etc. */
  .dropdown {
	position: relative;
	display:block;
	margin-top:0.5em;
	padding:0;
  }
  
  /* This is the native select, we're making everything the text invisible so we can see the button styles in the wrapper */
  .dropdown select {
	width:100%;
	margin:0;
	background:none;
	border: 1px solid transparent;
	outline: none;
	/* Prefixed box-sizing rules necessary for older browsers */
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	/* Remove select styling */
	appearance: none;
	-webkit-appearance: none;
	/* Magic font size number to prevent iOS text zoom */
	font-size:1.25em;
	/* General select styles: change as needed */
	/* font-weight: bold; */
	color: #444;
	padding: .6em 1.9em .5em .8em;
	line-height:1.3;
  }
  .dropdown select,
  label {
	font-family: AvenirNextCondensed-DemiBold, Corbel, "Lucida Grande","Trebuchet Ms", sans-serif;
  }
  
  /* Custom arrow sits on top of the select - could be an image, SVG, icon font, etc. or the arrow could just baked into the bg image on the select */
  
  .dropdown::after {
	content: "";
	position: absolute;
	width: 9px;
	height: 8px;
	top: 50%;
	right: 1em;
	margin-top:-4px;
	z-index: 2;
	background: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 12'%3E%3Cpolygon fill='rgb(102,102,102)' points='8,12 0,0 16,0'/%3E%3C/svg%3E") 0 0 no-repeat;  
	/* These hacks make the select behind the arrow clickable in some browsers */
	pointer-events:none;
  }
  
  /* This hides native dropdown button arrow in IE 10/11+ so it will have the custom appearance, IE 9 and earlier get a native select */
  @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
	.dropdown select::-ms-expand {
	  display: none;
	}
	/* Removes the odd blue bg color behind the text in IE 10/11 and sets the text to match the focus style text */
	select:focus::-ms-value {
	  background: transparent;
	  color: #222;
	}
	}
	.custom-select {
		position: relative;
		font-family: Arial;
		width: 13%;
	}
	.custom-select select {
		display: none; /*hide original SELECT element:*/
	}
	.select-selected {
		background-color: DodgerBlue;
	}
	/*style the arrow inside the select element:*/
	.select-selected:after {
		position: absolute;
		content: "";
		top: 14px;
		right: 10px;
		width: 0;
		height: 0;
		border: 6px solid transparent;
		border-color: #fff transparent transparent transparent;
	}
	/*point the arrow upwards when the select box is open (active):*/
	.select-selected.select-arrow-active:after {
		border-color: transparent transparent #fff transparent;
		top: 7px;
	}
	/*style the items (options), including the selected item:*/
	.select-items div,.select-selected {
		color: #ffffff;
		padding: 8px 16px;
		border: 1px solid transparent;
		border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
		cursor: pointer;
		user-select: none;
	}
	/*style items (options):*/
	.select-items {
		position: absolute;
		background-color: DodgerBlue;
		top: 100%;
		left: 0;
		right: 0;
		z-index: 99;
	}
	/*hide the items when the select box is closed:*/
	.select-hide {
		display: none;
	}
	.select-items div:hover, .same-as-selected {
		background-color: rgba(0, 0, 0, 0.1);
	}